@{
    ViewBag.Title = "找回密码";
}


<div class="m10">
    <ul id="step1" class="group2">
        <li>
            <input id="txtUserName" class="input r3" data-text="请输入账号" value="请输入账号" /></li>
        <li>
            <ul class="group g2 ww">
                <li>
                    <input id="txtResult" class="input r3" type="tel" data-text="输入答案" value="输入答案" /></li>
                <li>
                    <img src="/Vercode" onclick="this.src = '/Vercode?r=' + new Date()" style="width: 100%; height: 38px;" /></li>
            </ul>
        </li>
        <li><a id="lnkCode" class="button color1 r3">获取短信验证码</a></li>
    </ul>

    <ul id="step2" class="group2" style="display: none;">
        <li>
            <input id="txtPass" class="input r3" type="text" data-text="请输入新密码" value="请输入新密码" /></li>
        <li>
            <input id="txtVerifyCode" class="input r3" type="tel" data-text="短信验证码" value="短信验证码" /></li>
        <li><a id="lnkUpdatePassword" class="button blue r3">确定修改密码</a></li>
    </ul>

    <ul class="group2">
        <li><a id="lnkRegister" class="button white r3">前往注册</a></li>
    </ul>
</div>

@section scripts{
    <script type="text/javascript">
        var _referer = "@ViewBag.RefererUrl";
        var _codeFlag = 0;
        var _delay = 60;
        var _timer;
        // 初始化
        $(function () {
            $(".input").click(
                function () {
                    if ($(this).val() == $(this).attr("data-text")) {
                        $(this).val("");
                    }
                }).blur(
                    function () {
                        if ($(this).val() == "") {
                            $(this).val($(this).attr("data-text"));
                        }
                    });

            $("#lnkCode").click(
                function () {

                    if (_codeFlag == 1)
                        return;

                    var userName = $("#txtUserName").val();
                    if (userName == "" || userName == $("#txtUserName").attr("data-text")) {
                        Util.Alert("账户不能为空")
                        return;
                    }

                    var rv = $("#txtResult").val();
                    if (rv == "" || rv == $("#txtResult").attr("data-text")) {
                        Util.Alert("答案不能为空")
                        return;
                    }

                    ajaxLocalService("user_sendfindpasswordcode", { username: userName, rv: rv }
                        , function (response) {
                            if (response.Code != 0) {
                                Util.Alert(response.Message);
                                return;
                            }

                            var res = response.Data;
                            $("#step1").hide();
                            $("#step2").show();
                            Util.Alert("成功发送了验证码");
                        });
                });

            $("#lnkUpdatePassword").click(function () {

                var userName = $("#txtUserName").val();
                var userPass = $("#txtPass").val();
                var verifyCode = $("#txtVerifyCode").val();

                if (userPass.length < 6) {
                    Util.Alert("密码不能少于6个字符");
                    return;
                }
                if (verifyCode == "") {
                    Util.Alert("请输入验证");
                    return;
                }
                ajaxLocalService("user_findpassword", { username: userName, userpass: userPass, verifycode: verifyCode }
                    , function (response) {
                        if (response.Code != 0) {
                            try {
                                XiaoXiangJS.loginFailed();
                            } catch (e) { }
                            Util.Alert(response.Message);
                        }

                        var res = response.Data;

                        //Util.CookieWrite("USER_FLAG", res.result, 999);
                        try {
                            XiaoXiangJS.loginSuccess(res.Id, res.Name);
                        } catch (e) { };
                        Util.Alert("成功修改了密码");
                        setTimeout(function () {
                            location.href = _referer;
                        }, 1500);
                    });
            });
            // 前往注册
            $("#lnkRegister").click(
                function () {
                    location.href = "/Member/Register?referer=" + _referer;
                });
        });

    </script>
}
