@{
    Layout = null;
}
<div id="xuanchuan" runat="server" style="
    width:95%;
    height:36px;
    line-height:36px;
    margin: 0 auto;
    box-sizing:border-box;
    background:#ffffff;
    text-align:center;
    color:#0d8a23;
    border:1px solid #0d8a23;
    border-radius:3px;
    -webkit-border-radius:3px;
    display:none;
    font-size:14px;" onclick="location.href='\Chongzhi'"></div>